.line{
    margin-top: 200px;
    &::after{
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background-color: $lightGray;
        margin: auto;
    }

    &--sub{
        margin-top: 100px;
    }

    &--intro{
        content: "";
        display: block;
        width: 20%;
        height: 3px;
        background-color: $lightGray;
        margin: auto;
        border-radius: 30px;
    }
}