$white:             #ffffff;
$black:             #000000;
$lightGray:         lighten($black, 50%);
$lightBlack:        lighten($black, 20%);
$green:             #4aaa4e;

$header:            40px;

$z-index-header:      1010;